/*Begin Structural Styles*/

body {
	margin:0px;
}

#page {
	max-width:1000px;
	margin:auto;
	background:url("../images/swish.png") no-repeat;
}

#header {
	margin:0 0 15px 0;
}

#splash #header {

}

#header a {
	display:block;
	width:100%;
	height:100%;
}

#top_nav {
	float:right;
	width:auto;
}

#top_nav a {
	border-top: 2px solid #FDB827;
	color: #094FA3;
	text-decoration: none;
	font:normal 12px/18px Arial,Helvetica,sans-serif;
	width:150px;
	display:block;
	float:left;
	margin:0px 0px 0px 5px;
	padding: 3px 0px 0px;
}

#top_nav a:hover {
	border-top: 2px solid #094FA3;
}

#logo {
	width:180px;
	height:130px;
	float:left;
	background:url("../images/logo.gif") no-repeat;
}

#main_nav {
	float:right;
	width:auto;
	padding:0 0 15px;
	border-bottom: 1px solid #094FA3;
	margin:30px 0;
}

#main_nav a {
	float:left;
	display:block;
	background:#094FA3;
	margin: 0px 0px 3px 5px;
	padding:3px 5px;
	font:normal 12px/18px Arial,Helvetica,sans-serif;
	color: #fff;
	width:140px;
	text-decoration:none;
}

#main_nav a:hover {
	border-bottom:3px solid #FDB827;
	margin-bottom:0px;
	color:#FDB827;
}

.header_img {
	height:150px;
	width:100%;
	clear:both;
}

.layout850 .header_img {
	display:none;
}


#main_contents {
	float: left;
	width:100%;
}

#contents {
	margin: 0 155px 0 165px;
}


.layout850 #contents {
	margin: 0 0 0 165px;
}

.layout450 #contents {
	margin: 250px 0 0;
}

#page_nav {
	float:left;
	margin-left:-100%;
	width:150px;
}

#page_nav a {
	display:block;
	font:normal 12px/18px Arial,Helvetica,sans-serif;
	width:140px;
	text-indent:15px;
	padding:10px 0;
	color: #7D7D7D;
	text-decoration:none;
	border-bottom: 2px solid #7D7D7D;
}


#page_nav a:visited, #page_nav a:hover {
	background-color: #D7D7D7;
	color: #444444;
}

#sidebar {
	float:left;
	margin-left: -140px;
	width:120px;

}

#sidebar_form {
	margin:0 0 15px;
}

.layout850 #sidebar {
	display:none;
}


#email_input {
	width:115px;
}

#footer {
	clear:both;
	text-align:center;
	width:100%;
}

/*End Structure*/

/*Begin General Text Styles*/

h1, h2, h3, h4 {	
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin-top:0px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size:22px;
	padding:3px 0 0;
}

h3 {
	font-size:18px;
	padding:3px 0 0;
}

h4 {
	font-size:15px;
	padding:3px 0 0;
}

p {
	color: #000000;
	font:normal 12px/18px Arial,Helvetica,sans-serif;
	margin: 10px 0;
}

/*End General Text Styles*/

/*Begin Specific Text Styles*/

#email_submit {
	margin:10px 0 0;
}

#contents h1, #page_nav h3, #sidebar h3 {
	border-bottom:1px solid grey;
}

#contents h1:first-child {
	height:55px;
}

#page_nav h3:first-child, #sidebar h3:first-child {
	height:52px;
}

